/* ==========================================================================
   CSS Variables
   ========================================================================== */
:root {
  --main-bg-color: white;
  --secondary-bg-color: #cbcbcb;
  --accent-color: #000000;
  --main-text-color: #222;
  --secondary-text-color: #353535;
  --main-font: "Epilogue", sans-serif;
  --secondary-font: sans-serif;
}

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  font-family: var(--main-font);
  font-size: 1em;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  interpolate-size: allow-keywords;
}

body {
  margin: 0;
  padding: 0;
}

/*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Customize the background color to match your design.
   */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
   * A better looking default horizontal rule
   */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
   * Remove default fieldset styles.
   */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
   * Allow only vertical resizing of textareas.
   */

textarea {
  resize: vertical;
}

/* ==========================================================================
     Custom styles
     ========================================================================== */
a {
  text-decoration: none;
  color: var(--secondary-text-color);
  transition: 0.5s;
}

p {
  line-height: 1.6;
}

/* Skip to main content link */
.skip-to-main-content-link {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: black;
  color: white;
  opacity: 0;
  transition: none;
}

.skip-to-main-content-link:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  border-bottom: 1px solid var(--main-text-color);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* Hide the links inside the navigation menu (except for logo/home). This hides the links on mobile until the hamburger is clicked. */
#navLinks {
  display: none;
  width: 100%;
  text-align: center;
  padding: 1em 0 2em 0;
}

.topnav:not(:last-child) {
  flex: 1;
}

/* Style navigation menu links */
.topnav button {
  background-color: var(--main-bg-color);
}

/* Style the hamburger menu */
.topnav button.icon {
  display: block;
  padding: 1em;
}

.menu-toggle {
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0.5rem;
}

.icon-menu-toggle {
  width: 3rem;
  height: 3rem;
}

.line {
  fill: #000;
  transform-origin: 50px 50px;
  transition:
    transform 0.3s ease,
    opacity 0.2s ease;
}

.line {
  stroke-width: 6;
  stroke: var(--main-text-color);
  transition: all 500ms;
}

.line-1 {
  transform-origin: 26px 40px;

}

.line-2 {
  stroke-dasharray: 60 60;
}

.line-3 {
  transform-origin: 26px 60px;
}

.is-open .line-1 {
  transform: rotate(45deg);
}

.is-open .line-3 {
  transform: rotate(-45deg);
}

.is-open .line-2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
}

/* Styles for hovered topnav links */
.topnav a:hover {
  color: var(--accent-color);
}

/* Style the active link (or home/logo) */
.active {
  color: var(--accent-color);
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.exhibition-logo {
  padding: 0 1em;
}

.key-image-hero {
  width: 100vw;
  height: 95vh;
  background-image: linear-gradient(to top,
      #9e9e9e 0%,
      #9e9e9e 1%,
      #b7b7b7 31%,
      #efeeec 75%,
      #e9e9e7 100%);
  border-bottom: solid 1px var(--main-text-color);
}

.key-image-hero a {
  position: absolute;
  bottom: 8%;
  width: 100vw;
  text-align: center;
}

.column-text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  column-gap: 2em;
}

.column-left {
  padding: 2em 0 2em 2em;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.column-right {
  padding: 2em;
  max-width: 50em;
  flex: 1;
  flex-grow: 2;
}

.project-section {
  padding: 2em;
  text-align: center;
  border-top: solid 1px var(--main-text-color);
}

.project-section-inner-wrapper {
  max-width: 90vw;
  margin: 0 auto;
}

.project-section-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 2em;
}

.project-link-container {
  width: 100%;
  height: 100%;
  background-position: center;
  padding: 0.3em;
}

p.artist-name-proj {
  font-size: 1.5em;
  font-weight: bolder;
}

.project-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2em;
  gap: 5em;
}

.project-text-body p {
  max-width: 70ch;
}

.project-body img {
  max-width: 90vw;
  height: auto;
  max-height: 85vh;
}

.vid-container iframe {
  height: 50vh;
  width: 90vw;
}

.vid-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  opacity: 1;
  transition: 0.3s;
  z-index: 5;
}

/* Styles for the details element and its content. The details element is used for the descriptive transcript. */
.accordion {
  display: block;
  max-width: clamp(30%, 80ch, 90vw);
  width: 100%;
}

details * {
  margin: 0;
  padding-inline: 1em;
}

details h3 {
  padding: 0;
}

details {
  overflow: hidden;
}

/* Height animation*/

@media (prefers-reduced-motion: no-preference) {
  details::details-content {
    transition: block-size .5s,
      content-visibility .5s;
    transition-behavior: allow-discrete;
  }
}

details::details-content {
  block-size: 0;
}

details[open]::details-content {
  block-size: auto;
}

summary {
  cursor: pointer;
  position: relative;
  padding-block: 1em;
}

summary::before,
summary::after {
  transition: .2s;
}

summary::before,
summary::after {
  content: '';
}

summary::before,
summary::after {
  inline-size: .75em;
  block-size: 0;
  border-block-end: 2px solid;
  position: absolute;
  inset-block-start: calc(50% - 1px);
  inset-inline-end: 2rem;
  transform: translateY(-50%);
}

summary::after {
  transform: rotate(90deg);
  transform-origin: 50% 50%;

}

[open] summary::after {
  transform: rotate(0deg);
}

details p {
  padding-block-end: 1em;
}

summary::marker {
  content: none;
}

summary::-webkit-details-marker {
  display: none;
}

summary:focus-visible {
  border: 0.1rem solid var(--accent-color);
}

footer {
  padding: 2em;
  margin-top: 2em;
  display: flex;
  justify-content: space-around;
  gap: 2em;
}

.back-top-link {
  text-align: center;
}

/* ==========================================================================
     Helper classes
     ========================================================================== */

/*
   * Hide visually and from screen readers
   */

.hidden,
[hidden] {
  display: none !important;
}

/*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
   * Extends the .visually-hidden class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
   * Hide visually and from screen readers, but maintain layout
   */

.invisible {
  visibility: hidden;
}

/*
   * Clearfix: contain floats
   *
   * The use of `table` rather than `block` is only necessary if using
   * `::before` to contain the top-margins of child elements.
   */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */

@media only screen and (min-width: 40em) {

  /* Style adjustments for viewports that meet the condition */
  nav {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1em;
  }

  .nav-links {
    flex-direction: row;
  }

  #navLinks {
    display: block;
    width: auto;
    padding: 0;
  }

  #hamburger {
    display: none;
  }

  .column-text {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .column-right {
    padding: 2em 5em 2em 2em;
  }

  .column-left {
    align-items: center;
  }

  .project-section-inner-wrapper {
    max-width: 60vw;
  }

  .project-body img {
    max-width: 85vw;
  }

  .vid-container iframe {
    height: 80vh;
    width: 80vw;
  }
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}